<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  </head>
  <style>



    

  </style>
  <body>

    <div style="text-align:center" id="root">
      <br>
      <h2>
          <strong style="text-shadow: 0 5px 15px white; 
          color: darkred;
          font-family: 'Courier New', Courier, monospace;
          font-size: xx-large;">About Us...</strong>     
      </h2>
    </div>
    

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Who We Are?
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                We are a leading provider of <strong style="color: red;">online quizes</strong> which help to enhance the skills of the people. We are pleased to inform that the quiz contains various features such as marking a question for review, clearing selection, navigating from one question to another using simple GUI and many other such features. Have a look and share your feedback to us on this <a href="mailto:spunjabi@teksystems.com">E-mail ID</a>. Please feel free to share your feedback. Your feedback is valuable. Let's take a pledge to <strong style="color: red;">help India become technically strong</strong> and thus <strong style="color: red;">improve the society</strong> using such platforms.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Where Are We Located?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              You can find us in most of the popular towns like Mumbai, Pune, Hyderabad, Nashik, etc. For a list of locations, <a href="" routerLink='/contact'>Click Here</a>.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Any Live Classes Facility?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Yes! We are happy to announce that we are soon going to start live training to help you grasp the concepts better. We promise to deliver our 100% service to you so that you get the best possible experience. To register yourself for the same, <a routerLink='/contact'>Click Here.</a>
            </div>
          </div>
        </div>
      </div>

      <br>

      <img src="../../assets/Images/exam.png" alt="" style="margin-left: 550px;margin-top: 30px;" height="200px;">

    
    <br>
    <br>




    </body></html>