<mat-toolbar color="primary" class="mat-elevation-z8">
    <span routerLink="home" style="font-size: 27px;cursor: pointer;"><mat-icon style="font-size: 44px;">trending_up</mat-icon>&nbsp;&nbsp;&nbsp; Upskill Yourself</span>

    <div class="spacer"></div>
    <a mat-button routerLink="home" routerLinkActive="active-link"><mat-icon>home</mat-icon> Home</a>
    <a mat-button routerLink="quiz" routerLinkActive="active-link"><mat-icon>menu_book</mat-icon> &nbsp;Quiz</a>
    <a mat-button routerLink="about" routerLinkActive="active-link"><mat-icon>lightbulb</mat-icon> About Us</a>
    <a mat-button routerLink="contact" routerLinkActive="active-link"><mat-icon>contact_mail</mat-icon> &nbsp; Contact Us</a>
    
</mat-toolbar>
