/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a:hover {
    color: yellow;
}

.spacer {
    flex: 1 1 auto;
}

a.active-link {
    color: yellow;
    background-color: hsl(300, 100%, 40%);
}

button:enabled:hover {
    color: yellow;
}

input.ng-invalid ng-dirty{
    border-bottom-color: red im !important;
    box-shadow: red !important;
}

mat-icon {
    display: inline-flex;
    vertical-align: top;
}

@import "~bootstrap/dist/css/bootstrap.css"